<div class="cmp-form-group cmp-dropdown-selector">
    <div class="cmp-input-label">
        <span class="cmp-input-label--text">Field label</span>
        <div class="cmp-tooltip-demo-wrapper">
            <div class="cmp-tooltip">
                <span class="cmp-input-label--text">Field label</span>
                <div class="cmp-tooltip-overlay-bg"></div>
                <div class="cmp-tooltip-wrapper">
                    <i class="icon-dls-info-outline"></i>
                    <div class="cmp-tooltip-wrapper-popup bottom">
                        <a class="
                  cmp-button cmp-button--secondary cmp-button--inverse
                  cmp-tooltip-close
                ">
                            <span class="icons_space icon-dls-close-outline"></span>
                        </a>
                        <span class="cmp-tooltip--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                            neque sit amet in dolor mauris ante.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group input-form-field">
        <div class="inputbox text-field">
            <select class="select select-single-column dropdown" id="input-column-dropdown" name="select-1"
                aria-label="Please select from the following options">

            </select>
        </div>
    </div>
    <div class="cmp-input-caption">Caption for status and guidance</div>
</div>