<div class="cmp-inputs">
    <div class="cmp-input-label">
        <span class="cmp-input-label--text">Label 1</span>
        <div class="cmp-text para">
            <div class="cmp-tooltip-demo-wrapper">
                <div class="cmp-tooltip">
                    <span class="cmp-input-label--text">Label 1 with tooltip</span>
                    <div class="cmp-tooltip-overlay-bg"></div>
                    <div class="cmp-tooltip-wrapper">
                        <i class="icon-dls-info-outline"></i>
                        <div class="cmp-tooltip-wrapper-popup bottom">
                            <a class="
                    cmp-button cmp-button--secondary cmp-button--inverse
                    cmp-tooltip-close
                  ">
                                <span class="icons_space icon-dls-close-outline"></span>
                            </a>
                            <span class="cmp-tooltip--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Et neque sit amet in dolor mauris ante.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group--container">
        <div class="input-group input-form-number">
            <span class="prefix">prefix</span>
            <input type="text" class="
            form-control
            form-control-number
          " name="text-field-column" id="num_input_currency" placeholder="00.00" />
            <span class="suffix">suffix</span>
        </div>
    </div>
    <div class="cmp-input-caption">Caption for status and guidance</div>
</div>