<div class="cmp-selection-input">
    <div class="cmp-selection-tooltip">
        <span class="cmp-input-label--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
        <div class="cmp-tooltip-demo-wrapper">
            <div class="cmp-tooltip">
                <span class="cmp-input-label--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                <div class="cmp-tooltip-overlay-bg"></div>
                <div class="cmp-tooltip-wrapper">
                    <i class="icon-dls-info-outline"></i>
                    <div class="cmp-tooltip-wrapper-popup bottom">
                        <a class="cmp-button cmp-button--secondary cmp-button--inverse cmp-tooltip-close">
                            <span class="icons_space icon-dls-close-outline"></span>
                        </a>
                        <span class="cmp-tooltip--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et neque sit amet in dolor mauris ante.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cmp-input-caption default">Caption for guidance and status</div>
    <fieldset class="cmp-form-options cmp-form-options--radio flex-container">

    </fieldset>
</div>