<div class="section-header">
    <div class="section-head">
        <div class="headline-6">Overline here</div>
        <h3 class="title__text">Headline</h3>
        <p class="para_1">Lorem ipsum</p>
        <div class="section-header__subsection">
            <hr class="cmp-separator__horizontal-rule cmp-separator--dotted" />
            <h4 class="subsection_title">Subsection headline</h4>
            <hr class="cmp-separator__horizontal-rule cmp-separator--dotted" />
        </div>
        <p class="para_2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit, tortor,
            nibh metus purus nulla tristique et consequat sem.
        </p>
        <a class="cmp-button cmp-button--link">
            <span class="cmp-button__text">Learn More</span>
            <span class="icons_space icon-dls-arrow-right">&nbsp;</span>
        </a>
    </div>
</div>