<div class="sb-datepicker-container cmp-inputs">
    <div class="cmp-form-group--default datepicker-container cmp-form-group">
        <label class="cmp-form-label">
            <span class="cmp-input-label--text">Single date picker</span>
        </label>
        <div class="cmp-tooltip-demo-wrapper">
            <div class="cmp-tooltip">
                <span class="cmp-input-label--text">Single date picker</span>
                <div class="cmp-tooltip-overlay-bg"></div>
                <div class="cmp-tooltip-wrapper">
                    <i class="icon-dls-info-outline"></i>
                    <div class="cmp-tooltip-wrapper-popup bottom">
                        <a class="
                  cmp-button cmp-button--secondary cmp-button--inverse
                  cmp-tooltip-close
                ">
                            <span class="icons_space icon-dls-close-outline"></span>
                        </a>
                        <span class="cmp-tooltip--content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                            neque
                            sit amet in dolor mauris ante.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmp-texbox-group--container">
            <div class="cmp-texbox-group">
                <input type="text" placeholder="DD/MM/YYYY" name="datepicker"
                    data-picker-distance="4" maxlength="10" class="datepicker-input" />
                <span class="suffix datepicker-icon--container" id="datepickerIcon">
                    <i class="icon-dls-calendar"></i>
                </span>
            </div>
        </div>
        <p class="cmp-input-caption default" id="datePickerError">
            Caption for status and guidance
        </p>
    </div>
</div>