<footer class="footer global-footer global-footer--member">
    <div class="aem-Grid aem-Grid--default--12">
      <div class="aem-GridColumn aem-GridColumn--default--12">
        <div class="global-footer--title">
          <h3 class="text__title">CPF Board</h3>
        </div>
        <div class="global-footer-navbar">
          <div class="global-footer-navbar--start-menu">
            <ul>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Business partners</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Useful links</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="global-footer-navbar--end-menu">
            <ul class="footer-nav-link">
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Contact us</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Feedback</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">FAQ</span>
                </a>
              </li>
            </ul>
            <ul class="footer-social-icon">
              <li>
                <a
                  class="global-footer-navbar-item icon-link remove-global-external-icon"
                  href="https://www.facebook.com/CPFBoard"
                  target="_blank"
                  data-analytics-click-id="GlobalFooterSocialFacebook"
                  aria-label="GlobalFooterSocialFacebook"
                >
                  <i class="icon-dls-facebook"></i>
                </a>
              </li>
              <li>
                <a
                  class="global-footer-navbar-item icon-link remove-global-external-icon"
                  href="https://www.instagram.com/cpf_board/"
                  target="_blank"
                  data-analytics-click-id="GlobalFooterSocialInstagram"
                  aria-label="GlobalFooterSocialInstagram"
                >
                  <i class="icon-dls-instagram"></i>
                </a>
              </li>
              <li>
                <a
                  class="global-footer-navbar-item icon-link remove-global-external-icon"
                  href="https://www.youtube.com/user/CPFvideos"
                  target="_blank"
                  data-analytics-click-id="GlobalFooterSocialYoutube"
                  aria-label="GlobalFooterSocialYoutube"
                >
                  <i class="icon-dls-youtube"></i>
                </a>
              </li>
              <li>
                <a
                  class="global-footer-navbar-item icon-link remove-global-external-icon"
                  href="https://t.me/CPFBoard"
                  target="_blank"
                  data-analytics-click-id="GlobalFooterSocialTelegram"
                  aria-label="GlobalFooterSocialTelegram"
                >
                  <i class="icon-dls-telegram"></i>
                </a>
              </li>
              <li>
                <a
                  class="global-footer-navbar-item icon-link remove-global-external-icon"
                  href="https://open.spotify.com/show/7ozveJ7piI3HYRYNExkoaC?si=Zlss8k10T22MdMUAVKbzCg"
                  target="_blank"
                  data-analytics-click-id="GlobalFooterSocial"
                  aria-label="GlobalFooterSocial"
                >
                  <i class="icon-dls-podcast"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="separator">
          <div class="cmp-separator">
            <hr class="cmp-separator__horizontal-rule cmp-separator--dotted" />
          </div>
        </div>
        <div class="global-footer-compliance">
          <div class="global-footer-compliance--start-menu">
            <ul>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Report Vulnerability</span>
                  <span class="icon-dls-external-link"></span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Privacy Statement</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Term of Use</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Sitemap</span>
                </a>
              </li>
              <li>
                <a class="cmp-button cmp-button--link cmp-button--inverse">
                  <span class="cmp-button__text">Security Best Practices</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="global-footer-compliance--end-menu">
            <ul>
              <li>Copyright © 2022, Government of Singapore</li>
              <li>Last updated 6 Jan 2022</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  